name: OpenPDFX Gradle Build

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [21]
    name: Build with Java ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v6

      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Check Gradle version and directory contents
        run: |
          ./gradlew -v
          echo "** ls **"
          pwd && ls -l

      - name: Build with Gradle
        run: ./gradlew build --no-daemon --stacktrace

      - name: Upload build reports
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: build-reports-java-${{ matrix.java }}
          path: |
            **/build/reports/
            **/build/test-results/
